<?xml version="1.0" encoding="UTF-8" ?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:rabbitmq="http://www.springframework.org/schema/rabbit"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
<!--    加载配置文件-->
    <context:property-placeholder location="rabbitmq.properties"/>
<!--    定义rabbitmqFactory-->
    <rabbitmq:connection-factory id="connectionFactory"
                                 host="${rabbitmq.host}"
                                 port="${rabbitmq.port}"
                                 username="${rabbitmq.username}"
                                 password="${rabbitmq.password}"
                                 virtual-host="${rabbitmq.virtual-host}"/>
<!--    spring_queue队列对应监听器-->
    <bean id="springQueueListener" class="cn.keepyoursmile.SpringQueueListener"/>
    <bean id="fanoutListener1" class="cn.keepyoursmile.SpringFanoutQueue1"/>
    <bean id="fanoutListener2" class="cn.keepyoursmile.SpringFanoutQueue2"/>
    <bean id="topicQueue1" class="cn.keepyoursmile.SpringTopicQueue1"/>
    <bean id="topicQueue2" class="cn.keepyoursmile.SpringTopicQueue2"/>
    <bean id="topicQueue3" class="cn.keepyoursmile.SpringTopicQueue3"/>


    <!--    监听器-->
    <rabbitmq:listener-container connection-factory="connectionFactory" auto-declare="true">
        <rabbitmq:listener ref="springQueueListener" queue-names="spring_queue"/>
        <rabbitmq:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>
        <rabbitmq:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>
        <rabbitmq:listener ref="topicQueue1" queue-names="spring_topic_queue_1"/>
        <rabbitmq:listener ref="topicQueue2" queue-names="spring_topic_queue_2"/>
        <rabbitmq:listener ref="topicQueue3" queue-names="spring_topic_queue_3"/>
    </rabbitmq:listener-container>
</beans>